.textContainer {
  padding: 0 20px;
  max-width: 25%;
  height: 60%;
  background-color: #2979FF;
}

.textContainer__subheading {
  display: inline-flex;
  margin-top: 56px;
  margin-left: 15px;
  font-size: 2.3rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.textContainer__text {
  font-family: 'Rock Salt', cursive;
  color: gold;
  text-shadow: 2px 2px 0px gold;
  text-align: center;
}

.textContainer h4 {
  padding-bottom: 11px;
  color: rgb(216, 216, 216);
}

.users {
  color: #fff;
  padding-bottom: 4px;
}

@media (max-width: 480px) {
  .textContainer {
    display: none;
  }

  .input__formButton {
    width: unset;
  }
}

@media (min-width: 650px) {
  .input__formButton {
    width: 20%;
  }
}

@media (max-width: 700px) {

  .textContainer__subheading,
  .textContainer__text {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {

  .textContainer__subheading,
  .textContainer__text {
    font-size: 1.3rem;
  }
}